/CMakeUserPresets.json
/builddir/
/compile_commands.json
/package/
/.cache/
/.conan/.conan.db
/.conan/extensions/
/.conan/global.conf
/.conan/migrations/
/.conan/p/
/.conan/remotes.json
/.conan/version.txt
/.direnv/
